/* Background container styling */
.background-container {
    background-color: white;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    display:flex ;
    justify-content:center;
    align-items:end;
    margin: 0;
    padding: 3rem;
}

/* Login card styling */
.card {
    border-radius: 40px;
    border: none;
    overflow: hidden;
    text-align: center;
    display: block;
    padding: 2rem;
    height: 100%;
    width: 35%;
}

.card-body {
    padding: 2rem;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    height: 100%;
    border-width: medium;
    width:100%;
}

/* Form input fields */
.form-control {
    border-radius: 20px;
    padding: 0.75rem;
    font-size: 1rem;
    color: #0e4158;
    transition: all 0.3s ease-in-out;
}

    /* Focused input fields */
    .form-control:focus {
        background-color: rgba(255, 255, 255, 1); /* No transparency on focus */
        border: 2px solid #0e4158; /* Highlighted border */
        box-shadow: 0 0 8px rgba(14, 65, 88, 0.5); /* Glow effect */
    }



/* Button styling */
.btn {
    background-color: #0e4158;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem;
    border-radius: 20px;
    border: none;
    width: 100%; 
    margin-top: 1rem;
    transition: all 0.2s ease-in-out;
}

    .btn:hover {
        background: linear-gradient(45deg, #0e4158, #206e93);
        color: #ffffff;
    }

/* Links */
.a {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.2s;
    padding: 0.5rem;
}

.p{
    all:unset;
    display: revert;
}
    a:hover {
        color: #0056b3;
    }

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        width: 90%; /* Adjust card width for smaller screens */
    }
}



